.header__container{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1001;
    background-color: var(--transparent-background-color);
    height: 50px;
    
   
}
.header__container_logo{
    width: 50px;
    height: auto;
  
}
.header__container_right{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    gap:15px
}
.header__container_contacts{
    color: var(--third-text-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 40px;  

}

.header__container_nav {
    position: relative; 
    border: var(--main-background-color);
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 40px;
    justify-content: center;
    background-color: #fff;
}

.burger__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  
    

}

.burger__line {
    width: 25px; /* Ширина линии */
    height: 4px; /* Высота линии */
    background-color:var(--main-button-color); /* Цвет линии */
    margin: 2px 0; /* Отступ между линиями */
}

.nav__list {
    position: fixed;
    padding: 20px;
    width: 90%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1001;
    list-style-type: none; /* Убираем маркеры списка */
    background-color: rgb(255, 255, 255);
    box-shadow: var(--main-shadow);
}

.nav__list li {
    margin: 10px 0; /* Отступы между элементами списка */
}

.slide__in {
    animation: slide__in 0.5s forwards; /* Применяем анимацию */
    -webkit-animation: slide__in 0.5s forwards;
}

@keyframes slide__in {
    from {
        right: -100%; /* Начальная позиция за пределами экрана */
    }
    to {
        right: 0; /* Конечная позиция */
    }
}