.header__container{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1001;
    background-color: var(--transparent-background-color);
    height: 50px;
    
   
}
.header__container_logo{
    width: 50px;
    height: auto;
}
.header__container_contacts{
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    
}
.header__container_nav {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
}

.burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.burgerLine {
    width: 25px; /* Ширина линии */
    height: 2px; /* Высота линии */
    background-color: #000; /* Цвет линии */
    margin: 1px 0; /* Отступ между линиями */
}

.navList {
    position: fixed;
    padding: 20px;
    width: 90%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1001;
    list-style-type: none; /* Убираем маркеры списка */
    background-color: rgb(255, 255, 255);
    box-shadow: var(--main-shadow);
}

.navList li {
    margin: 10px 0; /* Отступы между элементами списка */
}

.slideIn {
    animation: slideIn 0.5s forwards; /* Применяем анимацию */
    -webkit-animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        right: -100%; /* Начальная позиция за пределами экрана */
    }
    to {
        right: 0; /* Конечная позиция */
    }
}