.footer__container{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--transparent-background-color);
    height: 50px;
      
}
.footer__container_button{
    display: none;
}
@media (min-width: 1024px) {
    .footer__container_button{
        display: block;     
    
    }
  }