@font-face {
  font-family: "MainFont";
  src: url("/app/fonts/roboto-regular.woff2") format("woff2");    
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-background-color: rgba(240, 250, 255, 1); /* Основной цвет фона */
  --second-background-color: #ffff;
  --main-text-color: rgb(75, 164, 208); /* Основной цвет текста */
  --second-text-color: #ffff;
  --third-text-color:rgba(56, 80, 110, 1);
  --main-button-color: #504186;
  --second-button-color: #ffff;
  --hover-button-color: #271276;
  --disabled-button-color: #d2cfdb;
  --main-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
  --round-shadow:0 4px 10px rgba(0, 0, 0, 0.3);
  --main-radius: 10px;
  --adaptive-font-size-small:clamp(10px, 3vw, 18px);/* Минимум 16px, предпочтительно 5vw, максимум 36px */
  --adaptive-font-size-normal:clamp(13px, 1vw, 18px);/* Минимум 16px, предпочтительно 5vw, максимум 36px */
  letter-spacing: 0.02em;
}

body {
  font-family: "MainFont", Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* button:hover{
  background-color: var(--hover-button-color);
} */
