.certificates__container {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns:  1fr  1fr; /* Используйте пробелы вместо запятых */
    column-gap: 15px; /* Пробел между элементами сетки */
    row-gap: 30px;
  
  }
  .certificates__container_element {
    z-index: 100;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-image: url("../../public/cert_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }