.about__info_button {
    font-family: "MainFont";
    font-weight: bold;
    z-index: 110;
    color: var( --main-button-color);
    background-color: var(--accent-background-color);
    padding: 9px;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 200px;
    width: 100%;
    
  }
  .about__info_button:hover{
    box-shadow: var(--main-shadow);
  }